<app-navbar class="no-print"></app-navbar>

<div class="container">
  <div class="header no-print">
    <h1>Barcode Generator</h1>
  </div>

  <div class="barcode-top-options no-print">
    <div class="packed-date-wrapper">
      <label for="packedOn" class="packed-date-label">📦 <strong>Packed On Date</strong></label>
      <input type="date" id="packedOn" name="packedOn" class="form-control packed-date-input" [(ngModel)]="packedOnDate"
        (change)="onPackedOnChange()" />
    </div>

    <div class="print-style-wrapper">
      <label class="print-style-label">🖨️ Select Print Style:</label>
      <select class="form-select print-style-select" [(ngModel)]="selectedPrintStyle" name="printStyle"
        (change)="onPrintStyleChange(selectedPrintStyle)">
        <option value="reliance">Reliance</option>
        <option value="dmart">D-Mart 50*50</option>
        <option value="old-dmart">DMart 38*25</option>
      </select>
    </div>
  </div>

  <form>
    <table class="table">
      <thead>
        <tr>
          <th class="col-product">Product</th>
          <th class="col-small">Qty</th>
          <th class="col-small">M.R.P. (₹)</th>
          <!-- <th class="col-small">Expiry Days</th> -->
          <th>Category</th>
          <!-- <th>Expiry Date</th> -->
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let item of products; let i = index; trackBy: trackByIndex">
          <td>
            <select class="form-control" name="productName{{i}}" [(ngModel)]="item.nameId"
              (ngModelChange)="onProductIdChange(i, $event)">
              <option [ngValue]="null">Select Product</option>
              <option *ngFor="let option of filteredNameOptions" [ngValue]="option.id">
                {{ option.name }} {{ option.units }}
              </option>
            </select>
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.quantity" name="quantity{{i}}" />
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.mrp" name="mrp{{i}}" (change)="onMrpChange(i)"
              (keydown)="onMrpKeyDown($event, i)" />
          </td>
          <!-- <td>
            <input type="number" class="form-control" [(ngModel)]="item.expiryDays" name="expiryDays{{i}}" (change)="updateExpiry(i)"
            (keydown)="onQtyKeyDown($event, i)"/>
          </td> -->
          <td>
            <select class="form-control" [(ngModel)]="item.category" name="category{{i}}"
              (change)="generateBarcode(item)" [tabindex]="-1">
              <option value="">Select</option>
              <option value="Fruit">Fruit</option>
              <option value="Vegetable">Vegetable</option>
            </select>
          </td>
          <!-- <td>
            <input type="date" class="form-control" [(ngModel)]="item.expiryDate" name="expiryDate{{i}}" [tabindex]="-1" />
          </td> -->
          <td class="no-print">
            <button type="button" class="btn btn-outline-danger delete-btn" (click)="removeRow(i)"
              [tabindex]="-1">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="actions no-print">
      <button type="button" class="btn btn-outline-primary add-btn" (click)="addRow()">Add Row</button>
      <button type="button" class="btn btn-warning" (click)="resetForm()">Refresh</button>
      <button type="button" class="btn btn-primary" (click)="printSelected()">Print</button>

      <button type="button" class="btn-back" (click)="testPreview()">
        Preview
      </button>
      <button type="button" class="btn print-all-test-btn" (click)="printAllBarcodesTest()">
        Print ALL (Test)
      </button>

      <button type="button" class="btn btn-success view-history-btn" (click)="goToHistory()">View History</button>
    </div>
  </form>
</div>